<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zach's Blog Site</title>

		<div th:replace="/fragments/styling :: head-style"></div>
	</head>
	<body>
		<div class="container">
			<div th:replace="/fragments/navbar :: navbar"></div>

			<div class="row">
				<p>Use the form below to submit a blog post:</p>
				<form action="#" th:action="@{~/blogposts/update/{id}(id=${blogPost.id})}" th:object="${blogPost}" method="POST">
					<label for="blogTitle">Title:</label>
					<input type="text" name="blogTitle" th:field="*{title}" />

					<label for="blogAuthor">Author:</label>
					<input type="text" name="blogAuthor" th:field="*{author}" />

					<label for="blogEntry">Blog Entry:</label>
					<input type="text" name="blogEntry" th:field="*{blogEntry}" />

					<button type="submit" class="btn btn-success">Save Your Changes</button>
				</form>
			</div>
		</div>

		<div th:replace="/fragments/styling :: body-links"></div>
	</body>
</html>
