<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>

    <div th:fragment="head-style">
        <link rel="stylesheet" href="../../webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../css/main.css">
    </div>
    
</head>
<body>
    
    <div th:fragment="body-links">
        <script src="../../webjars/jquery/3.5.1/jquery.min.js"></script>
        <script src="../../webjars/popper.js/2.0.2/umd/popper.min.js"></script>
        <script src="../../webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </div>
    
</body>
</html>